<section id="view-contact" class="view-panel active">
    <div class="section-header stagger-enter">
        <h2 class="section-title">CONTACTO</h2>
        <div class="jp-decoration">連絡先</div>
    </div>
    <div class="hero-grid mt-40">
        <div class="hero-text-side stagger-enter">
            <h1 class="massive-title" style="font-size: 4rem;">¿TRABAJAMOS<br>JUNTOS?</h1>
            <ul class="minimal-list mt-20" style="font-weight: 600;">
                <li>Email: job@delavega.com</li>
                <li>Insta: @job_editor</li>
                <li>LinkedIn: /in/jobdelavega</li>
            </ul>
        </div>
        <div class="hero-image-side stagger-enter" style="height: 300px;">
            <div class="manga-frame" style="width: 100%; height: 100%;">
                <span class="placeholder-text">[ CÓDIGO QR / ICONOS ]</span>
            </div>
        </div>
    </div>
</section>
