<section id="view-education" class="view-panel active">
    <div class="section-header stagger-enter">
        <h2 class="section-title">EDUCACIÓN</h2>
        <div class="jp-decoration">教育</div>
    </div>
    <div class="dual-grid mt-40">
        <div class="grid-col stagger-enter">
            <h3 class="subtitle">FORMACIÓN ACADÉMICA</h3>
            <ul id="studies-list" class="minimal-list border-list mt-20">
                <!-- Cargado por JS/API -->
            </ul>
        </div>
        <div class="grid-col stagger-enter">
            <h3 class="subtitle">CURSOS Y CERTIFICADOS</h3>
            <ul id="courses-list" class="minimal-list border-list mt-20">
                <!-- Cargado por JS/API -->
            </ul>
        </div>
    </div>
</section>
