<section id="view-idioms" class="view-panel active">
    <div class="section-header stagger-enter">
        <h2 class="section-title">IDIOMAS</h2>
        <div class="jp-decoration">言語</div>
    </div>
    <div class="dual-grid mt-40">
        <div class="grid-col stagger-enter">
            <div class="manga-frame" style="height: 300px; transform: rotate(-2deg);">
                <span class="placeholder-text">[ WORLD MAP / LANGUAGES ]</span>
            </div>
        </div>
        <div class="grid-col stagger-enter">
            <ul class="minimal-list border-list">
                <li style="font-size: 2rem;">ESPAÑOL <small>(Nativo)</small></li>
                <li style="font-size: 2rem;">INGLÉS <small>(C1 Advanced)</small></li>
                <li style="font-size: 2rem;">JAPONÉS <small>(N5 - Básico)</small></li>
            </ul>
        </div>
    </div>
</section>
