<!-- Video de fondo -->
<video class="video-background" autoplay muted loop playsinline>
    <source th:src="@{/videos/1757670075.mp4}" type="video/mp4">
</video>

<!-- Nueva capa de superposición cinemática -->
<div class="video-overlay"></div>

<section id="view-profile" class="view-panel active">
    <div class="hero-grid">
        <div class="hero-text-side stagger-enter">
            <h1 class="massive-title" th:utext="#{profile.name}">JOB DE<br>LA VEGA</h1>
            <p class="description">
                <span th:text="#{profile.description}">Editor de video especializado...</span>
                <br>
                <br>
                <span th:text="#{profile.phone}">Telefono:</span> +52 4428774013
                <br>
                <span th:text="#{profile.email}">Correo:</span> nomercyyt.la@gmail.com
            </p>
            <div class="jp-vertical" th:text="#{profile.live}">VIVE</div>
        </div>
        <div class="hero-image-side stagger-enter">
            <!-- Frame estilo manga minimalista
            <div class="manga-frame frame-large">
                <span class="placeholder-text">[ INSERTAR RETRATO / MANGA ART ]</span>
            </div> -->
        </div>
    </div>
</section>