<!-- Video de fondo -->
<video autoplay muted loop playsinline class="video-background">
    <source th:src="@{/videos/1757670075.mp4}" type="video/mp4">
</video>
<section id="view-profile" class="view-panel active">
    <div class="hero-grid">
        <div class="hero-text-side stagger-enter">
            <h1 class="massive-title">JOB DE<br>LA VEGA</h1>
            <p class="description">
                Editor de video especializado en videos long-form, shorts y reels
                con un entendimiento claro en una perspectiva centrada al cliente
                y un conocimiento alto en el desarrollo de sitios web y manejo de
                redes sociales
            </p>
            <div class="jp-vertical">VIVE</div>
        </div>
        <div class="hero-image-side stagger-enter">
            <!-- Frame estilo manga minimalista
            <div class="manga-frame frame-large">
                <span class="placeholder-text">[ INSERTAR RETRATO / MANGA ART ]</span>
            </div> -->
        </div>
    </div>
</section>