<section id="view-skills" class="view-panel active">
    <div class="section-header stagger-enter">
        <h2 class="section-title">HABILIDADES</h2>
        <div class="jp-decoration">スキル</div>
    </div>
    <div class="videos-grid mt-40">
        <div class="manga-frame video-frame stagger-enter">
            <span class="placeholder-text">[ DEMO REEL / SKILLS VISUAL ]</span>
        </div>
        <div class="skills-list stagger-enter">
            <ul id="video-types-list" class="minimal-list">
                <!-- Cargado por JS/API -->
            </ul>
        </div>
    </div>
</section>
